# Auto detect text files and perform LF normalization
* text=auto eol=lf

# Source code
*.ts text eol=lf
*.js text eol=lf
*.json text eol=lf
*.md text eol=lf
*.html text eol=lf
*.css text eol=lf
*.svg text eol=lf

# Documentation
*.md text eol=lf
*.txt text eol=lf

# Configurations
.gitattributes text eol=lf
.gitignore text eol=lf
.editorconfig text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
.vscodeignore text eol=lf

# Binary files (should not be modified)
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.woff binary
*.woff2 binary
*.ttf binary
*.eot binary 