.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
VersionControlHelper.code-workspace
.github/**
.git/**
release/
out/**/*.js.map
out/test/**
node_modules/puppeteer-core/.local-chromium/**
node_modules/**/*.md
node_modules/**/LICENSE*
node_modules/**/license*
node_modules/**/CHANGELOG*
node_modules/**/README*
node_modules/**/test/**
node_modules/**/example/**
node_modules/**/examples/**
node_modules/**/.github/**
node_modules/**/docs/**
node_modules/**/.*
**/.npmignore
**/.npmrc
**/.gitattributes
**/.gitignore
**/.babelrc
**/.editorconfig
**/.eslintrc*
.eslintrc.*
MarkdownEnhance.code-workspace
